Source: u2f-hidraw-policy
Maintainer: Daniel Stiner <daniel.stiner@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: systemd, libsystemd-dev, debhelper (>= 9)

Package: u2f-hidraw-policy
Architecture: any
Depends: systemd, ${shlibs:Depends}, ${misc:Depends}
Description: u2f-hidraw-policy is a udev helper that detects U2F HID tokens as described by the U2F spec.

