Source: softu2f
Section: unknown
Priority: optional
Maintainer: Daniel Stiner <daniel.stiner@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/danstiner/softu2f-linux

Package: softu2f
Architecture: all
Depends: softu2f-user-daemon, ${misc:Depends}
Description: U2F security token emulator written in Rust
 <insert long description, indented with spaces>
