[Unit]
Description=Software-only U2F Emulation Service

[Service]
ExecStart=/usr/libexec/softu2f-systemd-daemon
Restart=no
Environment="RUST_BACKTRACE=1"
#PrivateTmp=true
#NonBlocking=true
#Restart=on-abnormal
