[Unit]
Description=Software-only U2F Emulation Service
Wants=softu2f.socket

[Service]
Type=simple
ExecStart=/usr/lib/softu2f/system-daemon
PrivateNetwork=yes
PrivateTmp=true
