on: [push]

name: Build

jobs:
  cargo:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - 1.59 # Minimum supported Rust version
    steps:
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libdbus-1-dev libssl-dev libsystemd-dev libudev-dev

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        with:
          command: build

      - uses: actions-rs/cargo@v1
        with:
          command: test

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      # Disabled until clippy warnings are fixed
      # - uses: actions-rs/cargo@v1
      #   with:
      #     command: clippy
      #     args: --manifest-path linux/Cargo.toml -- -D warnings

  package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
       include:
         - base: fedora
           image: fedora
           tag: latest
         - base: debian
           image: ubuntu
           tag: latest
    steps:
      - uses: actions/checkout@v2

      - name: Run package.sh script
        run: ./package.sh ${{matrix.base}} ${{matrix.image}} ${{matrix.tag}}
