on: [push]

name: Build

jobs:
  cargo:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - 1.38.0 # Minimum supported Rust version
    steps:
      - name: Install dependencies
        run: sudo apt install -y libdbus-1-dev libssl-dev libsystemd-dev libudev-dev

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path linux/Cargo.toml

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path linux/Cargo.toml

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --manifest-path linux/Cargo.toml -- --check

      # - uses: actions-rs/cargo@v1
      #   with:
      #     command: clippy
      #     args: --manifest-path linux/Cargo.toml -- -D warnings

  package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
       include:
         - base: fedora
           image: fedora
           tag: latest
         - base: debian
           image: debian
           tag: latest
         - base: debian
           image: ubuntu
           tag: latest
    steps:
      - name: Run package.sh script
        run: ./package.sh ${{base}} ${{image}} ${{tag}}
